@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background: url(./images/register.png);
   background-repeat: no-repeat;
   background-position:center;
   background-attachment: fixed;
   background-size: cover;
}

h1,h3{
  color:#a47148;
  font-family: 'Montserrat', sans-serif;

}

.header{
  margin: 150px 180px;
}

.header h1{
  font-size: 40px;
}

.header h3{
  word-spacing: 3px;
  font-weight: bold;
}

.container{
  max-width: 440px;
  padding: 0px 20px;
  margin-left: 850px;
  margin-top: -350px;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px gray ;
}

.wrapper form{
  padding: 60px 25px 40px 25px;
}

.wrapper .login{
  font-size: 25px;
 font-weight: bold;
 padding-left: 5px
}

.wrapper .below{
  font-size:20px ;
  font-weight: 300px;
  padding-left: 5px;
  margin-bottom: 30px;
}
.wrapper form .firstname{
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}

.wrapper form .firstname input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148 ;
  border-radius: 10px;
  font-size: 16px;
  
}
.wrapper form .last-name{
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}

.wrapper form .last-name input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148 ;
  border-radius: 10px;
  font-size: 16px;
 
}

.wrapper form .email{
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}

.wrapper form .email input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148 ;
  border-radius: 10px;
  font-size: 16px;

}
.wrapper form .phone {
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}

.wrapper form .phone select.select-option {
  height: 100%;
  width: 30%; 
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
}

.wrapper form .phone input[type="tel"] {
  height: 100%;
  width: 68%; 
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
}








.wrapper form .password{
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}


.wrapper form .password input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148 ;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 15px;
}

.wrapper form .checkbox{
  margin-left: 5px;
  cursor: pointer;
}

.wrapper form .rm{
  margin-left: 5px;
  
}

.wrapper form .register-body{
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}



.wrapper form .register-body .btn{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #a47148 ;
  border-radius: 10px;
  font-size: 16px;
  background-color:#a47148 ;
  color: white;
}



.wrapper form .register-body{
  text-align: center;
  margin-bottom: 10px;
}



.wrapper form .singup{
text-align: center;
margin-bottom: 10px;
}
.wrapper form .singup a{
  text-decoration: none;
  color: black;
}

.wrapper form .singup a:hover{
  text-decoration: underline;
}