@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: #25272c;
}
.back{
    position: fixed;
    top: 1%;
    left: 0;
}
.back i{
    font-size: 40px;
    color: #a47145;
}
.container{
    display: flex;
    gap: 24px;
    margin: 50px 40px 40px 40px;
}
.container .images{
    width: 60%;
    height: 100vh;
    border-radius: 8px;
}
.container .info{
    width: 40%;
    height: 100vh;
}
.container .images .one{
    display: flex;
    width: 100%;
    height: 50%;
    gap: 8px;
    border-radius: 8px;
}
.container .images .two{
    display: flex;
    width: 100%;
    height: 50%;
    gap: 8px;
    margin-top: 8px;
}
.container .images .one .first{
    width: 50%;
    height: 100%;
    border-radius: 8px 0px 0px 0px;
}
.container .images .one .first img{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 0px;
}
.container .images .one .second{
    width: 50%;
    height: 100%;
    border-radius: 0px 8px 0px 0px;
}
.container .images .one .second img{
    width: 100%;
    height: 100%;
    border-radius: 0px 8px 0px 0px;
}
.container .images .two .first{
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 0px 8px;
}
.container .images .two .first img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 8px;
}
.container .images .two .second{
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 8px 0px;
}
.container .images .two .second img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 8px 0px;
}
.container .info .text{
    width: 100%;
    height: 85%;
}
.container .info .btn{
    width: 100%;
    height: 15%;
    margin-top: 24px;
}
.container .info .btn .but{
    width: 100%;
    height: 50%;
    padding: 0px 0px 2px 6px;
}
.container .info .btn .but .wish{
    width: 49%;
    height: 100%;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #f3d5b5;
    color: #a47148;
    cursor: pointer;
}
.container .info .btn .but .wish:hover{
    background-color: #dfc2a3;
}
.container .info .btn .ton{
    width: 100%;
    height: 50%;
    padding: 2px 6px 0px 6px;
}
.container .info .btn .ton .book{
    width: 100%;
    height: 100%;
    padding: 0px 6px 0px 6px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #a47145;
    color: white;
    cursor: pointer;
}
.container .info .btn .ton .book:hover{
    background-color: #845b37;
}
.container .info .text .header{
    width: 100%;
    height: 10%;
}
.container .info .text .detail{
    width: 100%;
    height: 90%;
    overflow: scroll;
}
.info .text .header .ratAv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.info .text .header .ratAv .Av{
    color: #6b7280;
}
.info .text .header .ratAv .rating i{
   font-size: 20px;
   color: #ffbc33;
}
.detail i{
    font-size: 20px;
    color:  #a47145;
}
.detail .api{
    width: 100%;
    height: 200px;
    background-color: #f3d5b5;
    border-radius: 8px;
}
.detail #row{
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
}


