<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DormDetail | ComfyNest</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/DormDetail.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="back">
        <a href="LoginPage.html">
            <i class='bx bx-left-arrow-circle'></i>
        </a>
    </div>
    
    <div class="container">
        <div class="images">
            <div class="one">
                <div class="first">
                    <img src="3K1.JPG" alt="">
                </div>
                <div class="second">
                    <img src="3K2.JPG" alt="">
                </div>
            </div>
               
            <div class="two">
                <div class="first">
                    <img src="3K3.JPG" alt="">
                </div>
                <div class="second">
                    <img src="3K4.JPG" alt="">
                </div>
            </div>
                
        </div>
        <div class="info">
            <div class="text">
                <div class="header">
                    <div class="dName">
                        <h2>3K NangLae</h2>
                    </div>
                    <div class="ratAv">
                        <div class="rating">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="Av">
                            Available
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="price" id="row">
                        <i class='bx bx-money'></i> ฿ <span>3500</span>/month
                    </div>
                    <div class="gender" id="row">
                        <i class='bx bx-male-female'></i><span> Unisex</span>
                    </div>
                    <div class="location" id="row">
                        <i class='bx bxs-map'></i><span> Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                    </div>
                    <div class="phone" id="row">
                        <i class='bx bxs-phone' ></i><span> 0123456789</span>
                    </div>
                    <div class="email" id="row">
                        <i class='bx bxs-envelope' ></i><span> mileycyrus@gmail.com</span>
                    </div>
                    <div class="api">

                    </div><br>
                    <div class="desc">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eius reprehenderit fugiat facere officiis praesentium atque, vero quia possimus recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam labore magnam consequatur nulla doloribus quam, reiciendis nam beatae odio pariatur repellendus eius dolore, magni dicta! Placeat quia animi accusamus.</span>
                    </div><br>
                    <div class="ameni">
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere libero doloribus tenetur quibusdam eius excepturi nesciunt reprehenderit assumenda vero vel?</span>
                    </div><br>
                    <div class="rules">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem nihil maiores autem facere ab repellendus commodi tempora nulla laudantium vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eveniet ullam a dolor atque maxime mollitia non odio debitis magnam earum quos dolore quo quisquam nulla illum, repellendus animi cum.</span>
                    </div>
                </div>
            </div>
            <div class="btn">
                <div class="but">
                    <button class="wish" id="btn">Add to Wishlist</button>
                    <button class="wish" id="btn">Rate This Dormitory</button>
                </div>
                <div class="ton">
                    <button class="book" id="btn">Book</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>